.header{
	height:300px;
}
.header .logo {
	background: url(../images/hbg_img.png) no-repeat center 24px;
	height: 100px;
	padding-top: 120px;
}

.header_resize,.hbg_resize {
	margin: 0 auto;
	padding: 0;
	height: 310px;
	background: url(../images/header_bg.gif) repeat-x top;
}

.introduceMainBar ul{
	float:left;
}

.introduceMainBar ul li{
	margin-left: 10px;
	float:left;
	list-style:none;
	margin-top:10px;
}

.content_resize,.fbg_resize {
	padding: 24px 40px;
	background: url(../images/content_bg.gif) repeat-x top;
	min-height:240px;
}

.content .mainbar {
	width: 330px;	
	min-height:200px;
}


.mainbar ul{
	list-style:none;
	margin-top:20px;
	float:left;
	width: 400px;
}

.mainbar ul li{
	width: 100px;
	margin-left: 10px;
	float:left;
	list-style:none;
}

.mainbar label{
	width: 100px;
}

.mainbar input{
	width: 100px;
}


#loginbar {
	width: 400px;
}

