<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:bpim-config.properties</value>
				<value>classpath:conversion.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSourceCdm" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" lazy-init="true">
		<property name="mappingResources">
			<list>
				<value>com/ryxx/bpim/user/entity/admin.hbm.xml</value>
				<value>com/ryxx/bpim/project/entity/project.hbm.xml</value>
			</list>
		</property>
		<property name="dataSource" ref="dataSourceCdm" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<prop key="hibernate.connection.pool_size">50</prop>
				<prop key="hibernate.dbcp.initialSize">5</prop>
				<prop key="hibernate.dbcp.maxWait">10000</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">1000</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
				<!-- Begin Hibernate Global Caching Configuration -->
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<!-- End Hibernate Global Caching Configuration -->
			</props>
		</property>
	</bean>
	
	<bean id="transactionManagerCdm"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="dataSource" ref="dataSourceCdm" />
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="baseTransactionProxyCdm"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		lazy-init="true" abstract="true">
		<property name="transactionManager" ref="transactionManagerCdm" />
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="fetch*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="evict*">PROPAGATION_REQUIRED</prop>
				<prop key="merge*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<import resource="com/ryxx/bpim/user/dao/admin-bean.xml"/>
	<import resource="com/ryxx/bpim/project/dao/project-bean.xml"/>
</beans>
