
.header{
	
}
.header .logo {
	background: none;
	height: 90px;
	float:left;
	padding-top:30px;
	padding-left: 40px;
}

.header_resize,.hbg_resize {
	margin: 0 auto;
	padding: 0;
	width: 970px;
	height: 100px;
	background: url(../images/header_bg.gif) repeat-x top;
}


.content{
	min-height:460px;
}
.content .mainbar {
	width: 930px;	
}

#searchCondition {
	
}


