
.header{
	height:130px;
}
.header .logo {
	background: none;
	height: 90px;
	float:left;
	padding-top:30px;
	padding-left: 40px;
}

.header_resize,.hbg_resize {
	height: 130px;
}


.content{
	min-height:460px;
}



